body.modal-open {
  overflow: hidden;
  /* Optional: hides body scroll bar when modal is open. */
}

.modal-content {
  color: #333;
  background-color: #fff;
  padding: var(--spacing-16);
}

.modal-header {
  display: flex;
  padding-bottom: 14px;
}

.modal-header>h3 {
  width: 250px;
  flex: 1;
  margin: 0;

}

.modal-header .close {
  background-color: #fff;
  font-weight: 100;
  font-size: 1.5rem;
  border: 0;
  border-radius: 999px;
  padding: 0;
  margin: 0;
  line-height: var(--spacing-8);
  height: var(--spacing-24);
  width: var(--spacing-24);
}

.modal {
  background-color: rgba(0, 0, 0, 0.35);
}

.modal-header .close:hover {
  background-color: #ccc;
}

a {
  color: var(--pexel-green);
}
