article {
  font-size: small;
  text-align: right;
}

a {
  color: var(--pexel-green);
}

.container {
  position: relative;

  img {
    max-height: 80vh;
    max-width: 80vw;
  }

  /* The overlay effect (full height and width) - lays on top of the container and over the image */
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;

    a {
      .fa:hover {
        color: #eee;
      }
    }
  }

  &:hover .overlay {
    opacity: 1;
  }

  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

}
